<form method='post' action='/registration'>
  <input type='text' name = 'username' placeholder='username'>
  <input type= 'password' name ='password' placeholder ='password'>
  <input type="email" name="email" placeholder="email">
  <input type='submit' value = 'Register'>
</form>